/* your code here */
.content{
	font-family:arial;
	height:200px;
	background-color:black;
	color:white;
	padding:30px;
}
.logo_name{
	font-size:20px;
}
.top{
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.media-icons{
	display:flex;
	height:30px;
	gap:10px;
}
.link-boxes{
	padding:30px;
	display:flex;
}
.bottom-details{
	height:30px;
	background-color: #2C303A;
	color:white;
	display:flex;
	justify-content:space-between;
	align-item:center;
	padding:10px;
}